body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b2f52c9;
}

.pixel {
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.drawing-board {
    box-sizing: border-box;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    width: 512px;
    height: 512px;
    background-color: white;
}
.hov{
    background-color: black;
}
h1{
    font-size: 50px;
    color: khaki;
}
.board-size-slider-container{
    margin-top: 10px;
    width: 300px;
    text-align: center;
}
input, label{
    display: block;
    margin: 15px 0px;
    width: 300px;
}
label{
    color: white;
    font-size: 20px;
}
.board-size{
    color: white;
    font-size: 20px;
}